{% extends "base.html" %}

{% block content %}


<div class="login-box">
  {% if not logged_in: %}

    <a href="{{ url_for('login') }}" class=" home-login-btn btn btn-primary btn-block btn-large">Login</a>
    <a href="{{ url_for('register') }}" class=" home-register-btn btn btn-secondary btn-block btn-large">Register</a>

  {% else %}
    <h1>Welcome <span class="home-user-name"> {{ current_user.username }}</span> | You're already login</h1>
    <a href="{{url_for('secret_page') }}"  type="button" class="btn btn-lg btn-outline-dark" class="btn btn-primary">Create Post</a>
  {% endif %}

</div>



{% endblock %}