{% extends "base.html" %}

{% block content %}

<div class="secret-div-2 container ">

    <div class="secret-div-2-form-div">
        <h1 class="secret-div-2-h1">Secret Page</h1>
        <hr>
        <form action=" {{ url_for('secret_page') }}" method="POST">
            <textarea maxlength=250 type="text" name="post-text" id="postid"  rows="5" placeholder="Say somthing..." style="width:100%; " validate > </textarea>
                <p class="text-muted" >Max length: 250</p>
                {% for messages in get_flashed_messages(category_filter=["post-success"]) %} 
                            <p style="color: greenyellow"> {{ messages }} </p>
                {% endfor %}

                {% for messages in get_flashed_messages(category_filter=["post-error"]) %}
                        <p style="color: red"> {{ messages }} </p> 
                {% endfor %}
            <button class="btn btn-lg btn-dark" type="submit">Post</button> 
            
        </form>
    </div>
    <hr>
    <div class="secret-div-post-div container">
        {% for posts in all_posts %}
            <div>
                <p class="secret-post-body" >{{ posts.post }}</p>
                <p class="secret-post-username text-muted" >Post by {{ posts.username }} </p>
                <button class="secret-edit-post btn btn-lg btn-primary" >Edit Post</button>
                <button class="secret-delete-post btn btn-lg btn-danger" >Delete Post</button>
            </div>

        {% endfor %}
    </div>


</div>

{% endblock %}