{% extends "base.html" %}

{% block content %}

<div class="secret-div-2 container ">

    <div class="secret-div-2-form-div">
        <h1 class="secret-div-2-h1">Secret Page</h1>
        <hr>
        <form action=" {{ url_for('secret_page') }}" method="POST">
            <textarea maxlength=250 type="text" name="post-text" id="postid"  rows="5" placeholder="Say somthing..." style="width:100%; "> </textarea>
                <p class="text-muted" >Max length: 250</p>
            <button class="btn btn-lg btn-dark" type="submit">Post</button>
        </form>
    </div>
    <hr>
    <div class="secret-div-post-div">
        <h1>Post 1: Hello world </h1>
        <h1>Post 2: Hello world </h1>

    </div>


</div>

{% endblock %}