

body{
    background-color: #5DA7DB;
}

/* HOME page css */
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-right: -50%; */
}
.home-login-btn{
    width: 100%;
    margin-bottom: 10px;
}
.home-register-btn{
    width: 100%;
}
.home-user-name{
    color: rgb(0, 17, 255);
}


/* LOGIN page css */
.register-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Secret Page */
.secret-div-2{
    margin-top: 50px;
}
.secret-div-2-form-div{
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 990px) { /* 800 or less  */
    .secret-div-2-form-div{
        width: 100%;
        margin: auto;
    }
  }
.secret-div-2-h1{
    color: white;
    font-size: 40px;
}
.secret-div-post-div{
    margin-top: 50px;
    /* border-top: solid gray; */
    border-left: solid gray;
    border-right: solid gray;
}
.secret-post-body{
    margin-bottom: 0;
    color: white;
}
.secret-post-username{
    margin-top: 0;
}
.secret-edit-post{
    margin-bottom: 30px;
}
.secret-delete-post{
    margin-bottom: 30px;
    margin-left: 5px;
}